doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title ShowShooshi
    link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    link(rel='stylesheet', href='/css/animate.css')
    link(rel='stylesheet', href='/css/demo.css')
    link(rel='stylesheet', href='/css/effect1.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/normalize.css')
    script(src='/js/vendor/modernizr.custom.js')
    script(src='/js/vendor/pathLoader.js')
    script(src='/js/vendor/classie.js')
  body
    .container-fluid
      .row
        .col-xs-12
          block content

    script(src='/js/vendor/jquery-2.1.1.min.js')
    script(src='/js/vendor/bower_components/angular/angular.js')
    script(src='/js/vendor/async.js')
    script(src='/js/vendor/underscore-min.js')
    script(src='/js/vendor/underscore-contrib.min.js')
    script(src='/js/vendor/moment.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    //-script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js')
    script(src='/js/user/home.js')
    //-script(src='/js/user/main.js')
    script(src='/js/vendor/async.js')
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeoZ11zwgmFhUjuUCMN0tnhsZStRQ7xbg&sensor=true")
    script(type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places,weather")
    script(src='/js/vendor/main.js')

    block scripts

