extends ../shared/template
block content
  h2 ShowShooshi
  div#ip-container.ip-container
      // initial header
      header.ip-header
        h1.ip-logo
          //svg.ip-inner(width='100%', height='100%', viewBox='0 0 300 160', preserveAspectRatio='xMidYMin meet', aria-labelledby='logo_title')
            title#logo_title Delightful Demonstrations by Codrops
            path(d='M150 0 L75 200 L225 200 Z')
          img.ip-inner(src='/img/showshooshi.png')
        div.ip-loader
          svg.ip-inner(width='60px', height='60px', viewBox='0 0 80 80')
            path.ip-loader-circlebg(d='M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z')
            path#ip-loader-circle.ip-loader-circle(d='M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z')
      // main content
      div.ip-main
        h2 Find a place to eat &nbsp;
          span.hue-color-wheel Sushi!
        #map.browser.clearfix
        button.animated.flipInY#toggle_traffic.btn.btn-info.outline-inward(style='-webkit-animation-delay: 4s;') ShowTraffic
      .row
        .col-xs-4
        .col-xs-4
          input#lat(ng-model='Lat', type="hidden", name="lat")
          input#lng(ng-model='Lng', type="hidden", name="lng")
          input.form-control#name(type='text', name='name', autofocus=true, placeholder='Nashville')
          button.btn.btn-success(type='submit') ShowShooshi!
          form(role='form')
            .form-group
              label(for='name')
            //-.form-group
              label(for='name')
              input.form-control#type(type='text', name='type', placeholder='Type')
        .col-xs-4
    // /container

block scripts
  script(src='/js/user/home.js')
  script(src='/js/user/main.js')

