extends ../shared/template
block content
  img.leaves.animated.fadeIn(src='/img/leaves.png' style='-webkit-animation-delay: 4.95s;')
  .row
  .col-xs-4
    h2.leftH2.animated.fadeInDown(style='-webkit-animation-delay: 4.95s;') ショー寿司
    .japDivide
  .col-xs-4
  .col-xs-4
    h2.rightH2.animated.fadeInDown(style='-webkit-animation-delay: 4.95s;') ようこそ！
    .japDivideR
  div#ip-container.ip-container
      // initial header
      header.ip-header
        h1.ip-logo
          //svg.ip-inner(width='100%', height='100%', viewBox='0 0 300 160', preserveAspectRatio='xMidYMin meet', aria-labelledby='logo_title')
            title#logo_title Delightful Demonstrations by Codrops
            path(d='M150 0 L75 200 L225 200 Z')
          img.ip-inner(src='/img/showshooshi.png')
        div.ip-loader
          svg.ip-inner(width='60px', height='60px', viewBox='0 0 80 80')
            path.ip-loader-circlebg(d='M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z')
            path#ip-loader-circle.ip-loader-circle(d='M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z')
      // main content
      div.ip-main
        h2 Find a place to eat &nbsp;
          span.hue-color-wheel Sushi!

        #map.browser.clearfix

        button#toggle_traffic.outline-inward.wp2(style='-websit-animation-delay: 0.5s')  ShowTraffic
        button#toggle_weather.outline-inward.wp3(style='-webkit-animation-delay: 0.10s') ShowWeather

      .input_container.wp1
        .row
          .col-xs-4
          .col-xs-4
            input#lat(ng-model='Lat', type="hidden", name="lat")
            input#lng(ng-model='Lng', type="hidden", name="lng")
            input.form-control#name(type='text', name='name', autofocus=true, placeholder='Enter A City Here!        町に入る')
            button#toggle_showshooshi.btn.btn-success(type='submit' data-hover="Hello") ShowShooshi!
            audio#bleeP(src='/audio/62.mp3' type='audio/mp3')
            form(role='form')
            .form-group
              label(for='name')
            //-.form-group
              label(for='name')
              input.form-control#type(type='text', name='type', placeholder='Type')
          .col-xs-4

  .row
  .col-xs-4
  .col-xs-4
    section.color-4
        nav.cl-effect-11
          a.footerButton.wp4(href='https://github.com/MikeBBarreiro', data-hover='GitHub' style='-webit-animation-delay: 0.5s;') Github
          a.footerButton.wp4(href='https://www.linkedin.com/profile/view?id=221590218&trk=nav_responsive_tab_profile_pic', data-hover='LinkedIn' style='-webkit-animation-delay: 0.35s;') LinkedIn
          a.footerButton.wp4(href='https://twitter.com/l8MikeBl8', data-hover='Twitter' style='-webkit-animation-delay: 0.15s;') Twitter
  .col-xs-4
  //-img.leaves(src='/img/leaves.png')


///////////-------------------\\\\\\\\\\\
  //-.container
  //-.container.demo-2
  //-.content
    //-#large-header.large-header
      //-canvas#demo-canvas
    //-.codrops-top.clearfix



block scripts
  script(src='/js/user/home.js')
  script(src='/js/user/main.js')

