@import url(http://fonts.googleapis.com/css?family=Lato:300);
@import url(http://fonts.googleapis.com/css?family=Comfortaa:300);

@base: #f938ab;

body{
	color: #fff;
  background: -webkit-linear-gradient(top, #333333, #060606);
}

#map {
  height: 300px;
  border-radius: 25px;
  border: 1px solid white;
}

h2 {
  font-family: 'Lato', sans-serif;
}

span {
  font-family: 'Comfortaa', cursive;
}

input.ng-valid {
  background-color: green !important;
}

input.ng-invalid {
  background-color: red !important;
}

#toggle_traffic{
  margin: 5px;
  margin-left: 11%;
}

#toggle_weather{
  margin: 5px;
  margin-left: 6%;
}

.hue-color-wheel {
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 60s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }

  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.grow:hover, .grow:focus, .grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
utline-inward {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.outline-inward:before {
  pointer-events: none;
  content: '';
  position: absolute;
  border: #DE1B17 solid 2px;
  top: -16px;
  right: -16px;
  bottom: -16px;
  left: -16px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}
.outline-inward:hover:before, .outline-inward:focus:before, .outline-inward:active:before {
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  opacity: 1;
}
